.history-controls {
  .btn-history {
    background: transparent;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 1.25rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:disabled {
      opacity: 0.8;
      cursor: default;
      filter: grayscale(1);
    }

    &:hover:not(:disabled) {
      background: rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.4);
    }

    &:active:not(:disabled) {
      box-shadow: none;
    }
  }
}
