.canvas-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
}