@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  height: 100%;

  .nav-link {
    color: #495057;
    border-radius: 4px;
    margin-bottom: 2px;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: #e9ecef;
    }

    &.active {
      background-color: #0d6efd;
      color: #fff;
      font-weight: 500;
    }

    &:disabled {
      color: #6c757d;
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}

.sidebar-right {
  border-right: none;
  border-left: 1px solid #dee2e6;
}
