@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  height: 100%;
}

.sidebar-right {
  border-right: none;
  border-left: 1px solid #dee2e6;
}
