
.bottom-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  z-index: 1030;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
