.draw-toolbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;

  .input-group, .slider-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
  }

  .draw-slider {
    width: 100%;
    cursor: pointer;
  }

  .draw-color {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
  }

  label {
    font-size: 0.9rem;
    font-weight: 500;
  }

  span {
    font-size: 0.8rem;
    align-self: flex-end;
  }
}
