.levels-toolbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;

  .slider-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .levels-slider {
    width: 100%;
    cursor: pointer;
  }

  label {
    font-size: 0.9rem;
    font-weight: 500;
  }

  span {
    font-size: 0.8rem;
    align-self: flex-end;
  }
}
