@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.app-container {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 250px 1fr 250px;
  grid-template-areas:
    "header header header"
    "left   main   right"
    "footer footer footer";

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main";
  }
}

header { grid-area: header; }
.sidebar-left { grid-area: left; }
.main-content { grid-area: main; }
.sidebar-right { grid-area: right; }
footer { grid-area: footer; }

.main-content {
  overflow-y: auto;
}
