@import "bootstrap/scss/bootstrap";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

// Global styles for mobile
@include media-breakpoint-down(md) {
  body {
    padding-bottom: 60px; // space for bottom toolbar
  }
}